<cms-dashboard>
    <div class="mainContent">
        <h4>MIGRANTS</h4>
        <button class="btn btn-success mb-3" routerLink="/add-citizen">Add Citizen</button>
        
        <table class="table datatable">
            <thead>
              <tr>
                <th>S/N</th>
                <th>CitizenID</th>
                <th>Fullname</th>
                <th>House No</th>
                <th>Ward</th>
                <th>Birth Date</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>"111"</td>
                    <td>111</td>
                    <td>"111"</td>
                    <td>111</td>
                    <td>111</td>
                    <td>111</td>
                </tr>
            </tbody>
        </table>

    </div>
</cms-dashboard>